.ef-box-group {
  height: 540px;
  h2 {
    color: #fff;
    font-size: 24px;
  }

  .selectedBlock {
    height: 100%;
    background-color: #AB001F;
    h2{
      font-size: 55px;
    }
  }

  #block1{
    color: #0b2e13;
    background-repeat: no-repeat;
    background-size: cover;

    .bug{
      background-image: url("../../../icons-png/BugDarkRed.png");
      width: 45px;
      height: 41px;
    }
    &:hover{
      .bug{
        background-image: url("../../../icons-png/BugRed.png");
        width: 39px;
        height: 40px;
      }
    }
  }

  #block2{
    color: #0b2e13;
    background-repeat: no-repeat;
    background-size: cover;

    .cup{
      background-image: url("../../../icons-png/CupRed.png");
      width: 32px;
      height: 32px;
    }
    &:hover{
      .cup{
        background-image: url("../../../icons-png/CupWhite.png");
        width: 39px;
        height: 40px;
      }
    }
  }

  .ef-box {
    height: 50%;
    display: flex;
  }

  a {
    color:#FFFFFF;
    font-size: 16px;
    &:hover{
      color:#FFFFFF;
      text-decoration: none;
      font-size: 16px;
    }
  }
  p {
    color:#FFFFFF;
    font-size: 16px;
  }
}

#ef-page-media-partners {
  .ef-box {
    .ef-title {
      height: auto;
    }
  }
}



.box-football{
  background-image: url("../../../img/football-block.png");
  height: 1080px;
  background-size: cover;
}

.box-esport{
  background-image: url("../../../img/esport-block.png");
  background-size: cover;
}

.box-basketball{
  background-image: url("../../../img/basketball-block.png");
  background-size: cover;
}

#ef-page-my-stadiuum {
  .ef-box {
    text-align: center;
    h2 {
      margin-bottom: 0;
    }
    img {
      width: 96px;
      margin: 20px auto;
    }
    p {
      //color: $c-red;
    }
    &.bg-red-dark-light {
      p {
        //color: $c-red-black;
      }
    }
  }
}
@media (max-width: 768px){
  #ef-page-sports-partners, #ef-page-media-partners, #ef-page-my-stadiuum {
    .ef-box-group {
      float: right;
      width: 300px;
      .ef-box {
        float: none;
      }
    }
  }
}
